{% extends "base.html" %}

{% block content %}
<main class="main main-about">
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae nesciunt, optio consequatur aperiam rerum soluta
    numquam debitis voluptas corrupti est, consequuntur quod quibusdam amet molestias repellat iste fugiat labore vitae.
</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae nesciunt, optio consequatur aperiam rerum soluta
    numquam debitis voluptas corrupti est, consequuntur quod quibusdam amet molestias repellat iste fugiat labore vitae.
</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae nesciunt, optio consequatur aperiam rerum soluta
    numquam debitis voluptas corrupti est, consequuntur quod quibusdam amet molestias repellat iste fugiat labore vitae.
</p>
</main>

{% endblock %}